:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #4d5ae5;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: var(--primary-font);
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}
.visually-hidden-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*===================Header===================*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.logo-link {
  margin-right: 76px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-part {
  color: var(--accent-color);
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-link {
  position: relative;
  display: block;
  padding: 24px 0;

  font-weight: 500;
  color: #2e2f42;
  transition: color var(--transition-dur-and-func);
}
.current {
  color: #404bbf;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.contact-list {
  display: flex;
}
.contact-mail {
  margin-right: 40px;
}
.contact-mail-link {
  font-style: normal;
  color: #434455;
  transition: color var(--transition-dur-and-func);
}
.contact-phone-link {
  font-style: normal;
  color: #434455;
  transition: color var(--transition-dur-and-func);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-mail-link:hover,
.contact-mail-link:focus {
  color: var(--accent-color);
}
.contact-phone-link:hover,
.contact-phone-link:focus {
  color: var(--accent-color);
}

/*===================/Header===================*/

/*===================Hero sectional===================*/
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-img.jpg");
  max-width: 1440px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
}
.hero-title {
  max-width: 494px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
.hero-btn {
  padding: 16px 32px;
  font-family: inherit;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  outline: transparent;
  min-width: 169px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  transition: background-color var(--transition-dur-and-func);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/*===================/Hero sectional===================*/

/*===================Advantage===================*/
.advantage-list {
  display: flex;
  justify-content: space-between;
}
.advantage-item:not(:nth-child(4n)) {
  margin-right: 24px;
}
.sub-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.advantage-icon-wrapper {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.advantage-icon {
  width: 64px;
  height: 64px;
}
/*===================/Advantage===================*/

/*===================Gallery===================*/
.gallery {
  padding-bottom: 120px;
}
.gallery-list {
  display: flex;
  justify-content: space-between;
}
/*===================/Gallery===================*/

/*===================Our team===================*/
.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-item-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.text {
  color: #434455;
}
.title {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.text-card {
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
/*===================Customers===================*/
.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color var(--transition-dur-and-func);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #404bbf;
}
.customers-icon {
  fill: currentColor;
  transition: fill var(--transition-dur-and-func);
}
/*===================/Customers===================*/

/*===================Footer===================*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.footer-wrapper {
  display: flex;
}
.footer-logo {
  margin-right: 120px;
}
.footer-logo-link {
  display: block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  color: #e7e9fc;
}
.footer-social-media {
  max-width: 208px;
  height: auto;
  margin-right: 80px;
}
.footer-social-text {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #f4f4fd;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.footer-form {
  display: flex;
  column-gap: 24px;
}
.footer-form-desc {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  background: transparent;
  outline: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transition: border-color var(--transition-dur-and-func);
}
.footer-form-input:focus {
  border-color: var(--accent-color);
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-submit {
  display: flex;
  align-items: center;
  column-gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  outline: transparent;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}
.footer-form-icon {
  width: 24px;
  height: 24px;
}
.footer-form-submit:hover,
.footer-form-submit:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*===================/footer===================*/

/*===================Portfolio===================*/

.btn-item {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  background-color: #f4f4fd;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}
.btn-item:hover,
.btn-item:focus {
  background-color: #404bbf;
  color: #ffffff;
  border-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-list-item:not(:last-child) {
  margin-right: 24px;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-link {
  display: block;
  color: #2e2f42;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
  padding: 40px 32px;
  background-color: rgba(77, 90, 229, 1);
  color: #f4f4fd;
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translate(0, 0);
}

/*===================/Portfolio===================*/
/*===================Modal window===================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}
.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:hover .modal-close-btn-icon {
  fill: #ffffff;
}
.modal-desc {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
/*===================/Modal window===================*/
/*===================Modal form===================*/
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 18px;
  color: rgba(46, 47, 66, 1);
  outline: transparent;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  border-color: var(--accent-color);
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}
.modal-form-coment-field {
  margin-bottom: 16px;
}
.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  font-size: 18px;
  color: rgba(46, 47, 66, 1);
  outline: transparent;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-comment:focus {
  border-color: var(--accent-color);
}
.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}
.modal-form-check-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(77, 90, 229, 1);
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color var(--transition-dur-and-func);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: #404bbf;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  border-color: var(--accent-color) 5;
  outline: none;
}
.modal-form-submit {
  padding: 16px 32px;
  align-self: center;
  min-width: 169px;
  outline: transparent;
  font-family: inherit;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}
/*===================/Modal form===================*/
